.hidden {
    display: none;
}

/* 배경 이미지 속성 */
.bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
}

/* #loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(113, 173, 33)
} */

/* .greeting {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0)
} */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.todoForm {
    padding: 1em;
}

.inputBox {
    left: 50%;
}

h2.clockText {
    display: inline;
}
