.hidden {
    display: none;
}

/* 폰트 적용 */
@font-face {
    font-family: TFONT;
    src:url("font/ANDYB.TTF") format("truetype");
}

body {
    font-family: TFONT;
}

/* todu-box 제작 */
#todo-box {
    background-color: rgba(54, 138, 138, 0.651);

    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;

    padding: 20px 10px 20px 10px;
}

.bgImgs {
    background-image: url("img/bgimg_2.png");
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;    
}